/*=============*/
/* BASE STYLES */
/*=============*/

body {
  font-family: 'Lato', sans-serif;
  background-color: #333C4A;
  color:#F8FCEB;
  position: relative;
  margin: 0;
}

h2 {
  color: #F6F7D3;
}
a {
  text-decoration: none;
<<<<<<< HEAD
  color: #ecf0f1;
=======
  color: white;
>>>>>>> master
}

a:hover {
  color: tomato; /* #ff6347 */
  /*border-bottom: solid tomato; underline instead? */
}

a:active {
  color: tomato; /* #ff6347 */
}

/*===============*/
/* PAGE ELEMENTS */
/*===============*/

/* ---navbar/menu stuff--- */


label[for='menu-button'] i {
  font-size: 3rem;
}

#navbar {
  background: #495664;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
<<<<<<< HEAD
  border-bottom: white 2px dashed;
=======
  border-bottom: white 2px solid;
>>>>>>> master
}

#menu-button {
  height: 0;
  width: 0;
  visibility: hidden;
}

#menu-button:checked + ul {
  display: none;
}

#menu-bar {
  list-style-type: none; /* removes bullet points from unordered list */
  padding: 0; /* menu bar inline with menu icon */
  display: flex;
  justify-content: space-around;
}

#menu-bar .option {
  display: inline-block;
  font-size: 1.5rem;
}

/* ---end of menu stuff--- */
<<<<<<< HEAD

/* ---header--- */

header .main-title {
  color: white;
  font-size: 2rem;
}

=======

/* ---header--- */

header .main-title {
  color: white;
  font-size: 2rem;
}

>>>>>>> master
header .subtitle {
  font-size: 1.5rem;
  color: gray;
}

/* this is a fixed distance to push things under the navbar/menu */
header {
  margin-top: 130px;
<<<<<<< HEAD
}

/* ---end of header--- */

/* ---posts--- */

.posts-wrapper {
  margin: 0;
  padding: 0 2rem;
}

=======
}

/* ---end of header--- */

/* ---posts--- */

.posts-wrapper {
  margin: 0;
  padding: 0 2rem;
}

>>>>>>> master
.post {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

/* ---end of posts--- */

/* ---footer--- */

footer {
  padding: 0;
  text-align: center;
<<<<<<< HEAD
  background-color: black;
  border-top: 2px solid gray;
=======
  background-color: #495664;
  border-top: 2px solid white;
>>>>>>> master
}

.footer-bar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer li {
  margin-top: 0.2rem;
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

.gh-img {
  width: 50%;
  border: white solid 2px;
  border-radius: 50%;
}

#heart {
  color: red;
  width: 24px;
  display: run-in;
}

/* ---end of footer--- */

/*================*/
/* HELPER CLASSES */
/*================*/

.center {
  text-align: center;
}

/* organise project thumbnails */



.picture-body {
    display: inline;
}
.picture-group {
  width: 100%;
  text-align: center;
  height: 400px;
  border: 1px solid black;
}

/* turned projects in to hyper links with stying */
.projects-wrapper {
    text-align: center;
}


.flex-container {
	display: flex;
	flex-wrap: wrap;
    width: auto;
  
}

/* added pseudo class to projects */
.flex-container a:hover {
   background-color: aquamarine;
}

.project-box{
    border-radius: 10%;
	height: 150px;
    padding: 20px;
    margin: 10px;
	flex-grow: 3;
	flex-shrink: 3;
	flex-basis: 33.3333%;
	flex-basis: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
    border: 3px solid black;
}
