/* base styles */

body {
  font-family: 'Lato', sans-serif;
  background-color: #2c3e50;
  color:#ecf0f1;
  position: relative;
  margin: 0;
}

.site-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
a {
  text-decoration: none; /* removes hyperlink look */
  color: #ecf0f1;
}

a:hover {
  color: tomato; /* #ff6347 */
  /*border-bottom: solid tomato; underline instead? */
}

a:active {
  color: tomato; /* #ff6347 */
}

/* page elements */

h1 {
  color: white;
  font-size: 2em;
}

p {
  font-size: 1.5em;
  color: gray;
}

/* menu stuff */

label[for='menu-button'] i {
  font-size: 3rem;
}

#navbar {
  background: #2c3e50;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

#menu-button {
  height: 0;
  width: 0;
  visibility: hidden;
}

#menu-button:checked + ul {
  display: none;
}

#menu-bar {
  list-style-type: none; /* removes bullet points from unordered list */
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  font-size: 1.5em;
  display: table-cell;
}

/* end of menu stuff */

/* this is a fixed distance to push things under the navbar */
header {
  margin-top: 115px;
}

/* footer */

footer {
  padding: 0;
  text-align: center;
  background-color: black;
  border-top: 2px solid gray;
}

.footer-bar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer li {
  margin-top: 0.2rem;
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

.gh-img {
  width: 50%;
  border: white solid 2px;
  border-radius: 50%;
}

#heart {
  color: red;
  width: 24px;
  display: run-in;
}
/* end of footer */

/* header */

  /*perhaps a nice background in the header?*/

/* end of header */

/* posts */

.post {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}




/* end of posts */

/* helper classes */

.center {
  text-align: center;
}
